@mixin elementCentred {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin advantagesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

@mixin beforeHover($opacity) {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    opacity: $opacity;
}