$color-white: #ffffff;
$color-black: #000000;
$color-gray: #EEEFF1;
$color-primary: #34547A;
$color-active: $color-primary;
$color-text-primary: #727272;
$color-button-primary: $color-primary;
$color-button-primary-active: #28486F;

$medium: 500;

$wrapper-width: 1100px;

$tablet: 768px;
$mobile: 576px;